
/*---------------------
  Services Section
-----------------------*/

.services-section {
	
	padding-top: 0;
	padding-bottom: 80px;
}

.service-item {
	text-align: center;
	background: #D5C0DF;	
	padding: 46px 50px 0;
	height: 325px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 30px;
	font-size: 20px;
}

.service-item:hover {
	border-bottom: 3px solid #e32879;
}

.service-item h4 {
	font-size: 40px;
	color: #ffffff;
	font-weight: 700;
	margin-top: 33px;
	margin-bottom: 25px;
}